/* _content/community/Shared/MainLayout.razor.rz.scp.css */
.page[b-819ceobiwg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-819ceobiwg] {
    flex: 1;
}

.sidebar[b-819ceobiwg] {
    background-image: linear-gradient(180deg, #000000 0%, #202020 95%);
}

.top-row[b-819ceobiwg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #161616;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-819ceobiwg]  a, .btn-link[b-819ceobiwg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-819ceobiwg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 3499px) {
    .top-row:not(.auth)[b-819ceobiwg] {
        display: none;
    }

    .top-row.auth[b-819ceobiwg] {
        justify-content: space-between;
    }

    .top-row a[b-819ceobiwg], .top-row .btn-link[b-819ceobiwg] {
        margin-left: 0;
    }
}

@media (min-width: 3500px) {
    .page[b-819ceobiwg] {
        flex-direction: row;
    }

    .sidebar[b-819ceobiwg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-819ceobiwg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
/* _content/community/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-5adri3b2j1] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-5adri3b2j1] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-5adri3b2j1] {
    display: block;
    font-size: 1.1rem;
}

.oi[b-5adri3b2j1] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-5adri3b2j1] {
    font-size: 0.9rem;
}

    .nav-item:first-of-type[b-5adri3b2j1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-5adri3b2j1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-5adri3b2j1]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-5adri3b2j1]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-5adri3b2j1]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.login-item[b-5adri3b2j1] {
    display:block;
}

.nav-search-home[b-5adri3b2j1] {
    width: 70vw;
    max-width: 1140px;
}

.nav-sign-up[b-5adri3b2j1] {
    display: block;
    display: inline-block;
    margin-right:10px;
}

@media (max-width: 1088px) {
    .nav-search-home[b-5adri3b2j1] {
        width: 60vw;
    }
}

@media (max-width: 800px) {
    .nav-search-home[b-5adri3b2j1] {
        width: 50vw;
    }
}

@media (max-width: 641px) {
    .navbar-brand[b-5adri3b2j1] {
        display: none;
    }
    .nav-sign-up[b-5adri3b2j1] {
        display: none;
    }
    .nav-search-home[b-5adri3b2j1] {
        width: 70vw;
    }
}

@media (max-width: 441px) {
    .nav-search-home[b-5adri3b2j1] {
        width: 60vw;
    }
}

@media (min-width: 3500px) {
    .navbar-toggler[b-5adri3b2j1] {
        display: none;
    }

    .login-item[b-5adri3b2j1] {
        display:none;
    }

    .collapse[b-5adri3b2j1] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-5adri3b2j1] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
